body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.custom-navbar {
    flex-shrink: 0;
    /* Ensure the navbar remains at the top */
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* Take up available vertical space */
    padding: 20px;
    /* Add some spacing for better view on smaller screens */
    background-color: #f8f9fa;
}

.form-container {
    /* background: #fff url('../images/Form_bg.png') no-repeat center/contain; */
    background: #3b5d500c;
    border: 1px solid #3b5d50;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #333;
}

.form-section h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0px;
    color: #333;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.form-grid2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.form-section2 h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0px;
    color: #333;
}

.form-grid2 textarea {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.form-grid input:focus,
.form-grid select:focus {
    border-color: #007BFF;
}



.form-grid input,
.form-grid select,
.submit-btn {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.form-grid input:focus,
.form-grid select:focus {
    border-color: #007BFF;
}

.submit-btn {
    background-color: #274f3d;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 15px;
    width: 150px;
}

.submit-btn:hover {
    background-color: #1f3f30;
}

@media screen and (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}






/* Custom File Upload Button */
.file-upload {
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
}

.file-upload input[type="file"] {
    display: none;
    /* Hide the default file input */
}

.file-upload label {
    overflow: hidden;
    height: 40px;
    width: 190px;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #3c7a5d;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    min-width: 120px;
    /* Set minimum width for consistent sizing */
    text-align: center;
}

.file-upload label:hover {
    border: 1px solid #f9bf29;
}

.file-upload label.uploaded {
    border: 1px solid #f9bf29;
    color: #0e5634;
}