body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.backdrop {
  display: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.popup {
  display: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #ffffff 0%, #e9e9e9 100%);
  color: #4b4b4b;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  max-width: 400px; /* Reduced max-width */
  width: 90%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.5s;
}

.popup-header {
  width: 100%;
  text-align: right;
  margin-bottom: 10px; /* Reduced margin */
}

.close-btn {
  cursor: pointer;
  font-size: 30px;
  color: rgb(68, 68, 68);
  border: none;
  background: none;
  outline: none;
}

.close-btn:hover {
  color: #000000;
}

.popup-heading {
  font-weight: 700;
  font-size: 1.2rem; /* Reduced font size */
  color: #ff758c;
}

.para {
  font-weight: 300;
  margin: 10px 0; /* Reduced margin */
  line-height: 1.6;
}

.form-field {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px; /* Reduced margin */
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  font-size: 14px; /* Reduced font size */
}

.button {
  display: inline-block;
  padding: 12px 25px; /* Reduced padding */
  margin-top: 20px; /* Reduced margin */
  border-radius: 50px;
  background-color: #fff;
  color: #ff758c;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff758c;
  color: white;
}

.store-logos img {
  width: 100px; /* Reduced width */
  margin: 0 5px; /* Reduced margin */
}

.feature-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Reduced margin */
}

.feature-icon {
  width: 40px; /* Reduced size */
  height: 40px; /* Reduced size */
  margin: 0 5px; /* Reduced margin */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  transition: background-color 0.1s ease;
}

/* .feature-icon:hover {
  background-color: #ffd1dc;
} */

    .feature-icon i {
      font-size: 24px;
      /* color: #ff758c; */
    }
    
